* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 23, 23);
    color: rgb(24, 23, 23);
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin: 80px;
    display: flex;
    width: 580px;
    background-color: rgb(218, 214, 214);
    justify-content: center;
    border-radius: 14px;
}

div {
    padding-top: 100px;
    padding-bottom: 100px;
}

div h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

div h2 {
    text-align: center;
    margin-bottom: 38px;
}

form {
    margin-bottom: 40px;
}

form input {
    width: 230px;
    text-align: center;
    height: 30px;
    border-radius: 4px;
    border: none;
    transition: transform 0.4s, box-shadow 0.6s, border 0.4s;
}

form input:hover {

    box-shadow: 0px 10px 18px rgb(112, 112, 112);
}

button {
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 30px;
    border-radius: 4px;
    width: 465px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    transition: transform 0.4s, box-shadow 0.5s;
}

button:hover {
    box-shadow: 0px 10px 18px rgb(112, 112, 112);
    background-color: rgb(248, 246, 246);
}

table thead tr th,
td {
    font-size: 20px;
    border-bottom: 1px solid rgb(199, 198, 198);
    text-align: center;
    width: 230px;
}